/* Portfolio Details */
.portfolio-details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .portfolio-details h2 {
    margin-bottom: 20px;
  }
  
  .portfolio-details p {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .portfolio-details button {
    background-color: #0077B5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .portfolio-details button:hover {
    background-color: #0077B5;
  }
  