.analytics-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .analytics-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .analytics-header h1 {
    font-weight: 900;
    font-family: roboto;
  }

  
  .analytics-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:  #0077B5;
  }
  
  .analytics-card {
    background: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    text-align: center;
  }
  
  .analytics-charts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  
  .analytics-chart {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
  }
  
  .analytics-table {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .analytics-table h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .analytics-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .analytics-table th, 
  .analytics-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .analytics-table th {
    background-color: #005A8C;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .analytics-table tbody tr:hover {
    background-color: rgba(0, 119, 181, 0.1);
  }
  
  .analytics-table tbody tr:last-child td {
    border-bottom: none;
  }
  
  